.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 700px;
  height: auto;
  border: 1px solid #b0b0b0;
  background-color: #fff;
  margin-top: 5px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-bottom: 5px;
}

.blockform {
  width: 350px;
  height: auto;
  border: 1px solid #b0b0b0;
  background-color: #fff;
  margin-top: 5px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-bottom: 15px;
}

.create {
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 20px 25px;
  height: auto;
  background: linear-gradient(45deg, #d4145a, #fbb03b);
  border: none;
  color: #fff;
  cursor: pointer;
}

img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.peers {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
}

.icons {
  font-size: 50px;
  margin-top: 12px;
  margin-left: 80px;
  color: #108ee9;
}

.currentUser {
  margin-left: 80px;
  color: #108ee9;
  font-size: 15px;
}

.header {
  letter-spacing: 4px;
  font-size: 50px;
}

.hash-green {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.genesis {
  letter-spacing: 1px;
  font-size: 28px;
  text-transform: capitalize;
}

.time {
  font-size: 12px;
}

.arrow {
  font-size: 30px;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #f9f9fb;
  font-weight: 20;
}

.strong {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fixed-list {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  padding: 3px;
}
